/*body{*/
/*    display:flex;*/
/*}*/

#h1 {
    color: black;
    text-align: center;
}

button  {
    background-color: black;
    color: white;
    height: 40px;
    width: 200px;
    margin: auto;
    display:block;
}



